* {
  box-sizing: border-box;
}

html, body {
  background-color: #B1B1B1;
  background-image: url(images/dark-wood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  font-family: 'Roboto';
}

ul,li { list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0;
}

#content {
  height: 80vh;
}

.imge {
  /*background-image: url(images/aron-hakodesh.jpg);*/
  background-image: url(images/touro-synagogue-national-historic-site-1.jpg);
  /*background-image: url(images/spanish.jpg);*/
  /*background-image: url(images/curacas.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-right: 2%;
  height: 80vh;

}

.icons {
  padding-top: 10px;
}

#navbar {
  height: 10vh;
}

#navbar ul {
margin: 0px;
padding: 0px;
float: right;
}

#navbar li {
  list-style-type: none;
  display: inline;
  margin-right: 40px;
}

#footer {
  height: 10vh;
}

.buttonz {
  float: left;
  width: 50% !important;
}

.flat-form {
  background: #7D5979;
  margin: 0 auto;
  padding-top: 10px;
  width: 60vh;
  height: 60vh;
  position: relative;
  font-family: 'Roboto';
}

.form-action {
  padding: 0 20px;
  position: relative;
}


h1 {
  font-size: 2em;
  padding-bottom: 10px;
}
.form-action p {
  font-size: 1em;
  padding-bottom: 10px;
  line-height: 25px;
}

form {
  padding-right: 20px !important;
}

form input[type=text],
form input[type=password],
form input[type=submit] {
  font-family: 'Roboto';
}

form input[type=text],
form input[type=password] {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 15px;
  background: #fff;
  border: none;
  color: #353535;
  outline: none;
}

#register {
  background: #1c2833;
}

.button {
    border: none;
    display: block;
    background: #557ca2;
    height: 40px;
    width: 80px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    /*box-shadow: 0px 3px 1px #2075aa;*/
	  transition: all 0.15s linear;
}

.button:hover {
  background: #1e75aa;
  box-shadow: 0 3px 1px #237bb2;
}

.button:active {
  background: #136899;
  box-shadow: 0 3px 1px #0f608c;
}
