* {
  box-sizing: border-box;
}

html, body {
  /*font-family: helvetica, arial, sans-serif;*/
  margin: 25px;
  background-color: #B1B1B1;
  background-image: url(images/dark-wood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  font-family: 'Roboto';
  }
}

h2 {
  font-weight: bold;
  color: red;
}

p {
  max-width: 600px;
}

input {
  width: 100%;
}
textarea {
  width: 100%;
  border: none;
}
